.login-header {
  width: 100%;
  height: 90px;
  background-image:url('/resources/images/headerbackground.png');
  background-repeat:repeat-x;
}

.login-header-logo {
  width: 100%;
  height: 90px;
  background-image:url('/resources/images/header.png');
  background-repeat: no-repeat;
  margin-top: -90px !important;
  background-position: center;
}

.login-form-container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.login-company-label {
  color:#068aad;
}

.login-company-button{
  color:#2B36FC;
  width:100%;
  height:100%;
  padding: 0;
  border: none;
  background: none;
}

.login-remember-me-toggle{
  color:#2B36FC;
  width:100%;
  height:100%;
  padding: 0;
  border: none;
  background: none;
}

.login-remember-me-toggle .x-toggle-on {
  background-color:$toggleBackground;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $toggleBackground), color-stop(100%, $toggleBackground), color-stop(100%, $toggleBackground), color-stop(100%, $toggleBackground));
  background-image:-webkit-linear-gradient($toggleBackground,$toggleBackground 100%,$toggleBackground 100%,$toggleBackground);
  background-image:linear-gradient($toggleBackground,$toggleBackground 100%,$toggleBackground 100%,$toggleBackground);
}

.login-remember-me-toggle .x-toggle-inner {
  float: right;
}

.login-remember-me-toggle .x-size-monitored {
  float: right;
}

.login-need-help-button{
  text-decoration:underline;
  background: none !important;
  background-color: none !important;
  border-color: none !important;
  border-style: none !important;
  color: #7E7E7E !important;
}