@import "../common/Defaults";

.item-order-border{
  border-color: gray;
  border-style: solid;
  width: 100% !important;
}

.status-button-red {
  background: red !important;
  padding-top: 50px
}

.status-button-yellow {
  background: yellow !important;
  padding-top: 50px
}

.status-button-blue {
  background: blue !important;
  padding-top: 50px
}